body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#left {
    float: left;
}

#center {
    margin: 0,auto,0,auto;
}

#right {
    float: right;
}

.mb-30 {
    margin-bottom: 30px;
}

.mt-60 {
<<<<<<< HEAD
    margin-top: 60px;
    ;
}



/*
.flip-container:active .flipper
 {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.flip-container,
.front,
.back {
    width: 450px;
    height: 299px;
   
}

.flipper {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.front,
.back {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.front {
    background: url(/Img/Konferens.jpg);
    z-index: 2;
   
}

.back {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
    background: url(/Img/Konferens.jpg) 0 0 no-repeat;
}

    */


=======
    margin-top:60px;;
}

.RealTime {
    color:#fff;
    font-size:50px;
    margin-right:70px;
    vertical-align:middle;
}
<<<<<<< HEAD

.SettingBut {
    opacity: 0;
    transform: scale(1);
-webkit-transform: scale(1)
}

.SettingButActive {
    transition:all 1s, ease-in-out;
    transform: scale(1.5);
    -webkit-transform: scale(1.5); -moz-transform: scale(1.5); -o-transform: scale(1.5);
    opacity: 1;
}
=======
>>>>>>> 03ae169296f3a26da59570a36f7098ee46709d25
>>>>>>> 927b8f28c77c06f5ef80bc03615a3e218d60d8b6
