@{
    ViewBag.Title = "Home Page";
}

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p>------MOTALA LOGO----</p>
        </div>
    </div>
</nav>
<div class="row">
    
</div>