@{
    ViewBag.Title = "Home Page";
}

<<<<<<< HEAD
<nav class="navbar navbar-primary">
    <div class="container-fluid">
        <div class="navbar-header">
            <img src="~/Img/test_logo.png" />
=======
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
<<<<<<< HEAD
            <a class="nav navbar-nav"><img src="~/Img/test_logo.png"></a>
=======
            <a href="#" class="navbar-nav"><img src="~/Img/test_logo.png"></a>
>>>>>>> 07b79853bfdc23a829271022302750fb0556a558
>>>>>>> c6b690b524715d08302c9ac25bd860ab3517334f
        </div>
    </div>
</nav>

<div class="row">
<<<<<<< HEAD
    <div class="col-md-3" id="left">
        <img src="~/Img/Konferens.jpg" />
    </div>

    <div class="col-md-3" id="center">
        <img src="~/Img/Konferens.jpg" />
    </div>

    <div class="col-md-3" id="center">
        <img src="~/Img/Konferens.jpg" />
    </div>

    <div class="col-md-3" id="right">
=======
    <div class="col-md-3 pull-left">
        <img src="~/Img/Konferens.jpg" />
    </div>

    <div class="col-md-3 text-center">
        <img src="~/Img/Konferens.jpg" />
    </div>

    <div class="col-md-3 pull-right">
>>>>>>> c6b690b524715d08302c9ac25bd860ab3517334f
        <img src="~/Img/Konferens.jpg" />
    </div>
</div>

<div class="row">
    <div class="col-md-3" id="left">
        <img src="~/Img/Konferens.jpg" />
    </div>

    <div class="col-md-3" id="center">
        <img src="~/Img/Konferens.jpg" />
    </div>

    <div class="col-md-3" id="center">
        <img src="~/Img/Konferens.jpg" />
    </div>

    <div class="col-md-3" id="right">
        <img src="~/Img/Konferens.jpg" />
    </div>
</div>