@{
    ViewBag.Title = "Home Page";
}

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            


                        <a href="#" class="navbar-left"><img src=""></a>
                 

        </div>
    </div>
</nav>
<div class="row">
    <div class="col-md-3">
        <img src="~/Img/Konferens.jpg" />
    </div>

    <div class="col-md-3">
        <img src="~/Img/Konferens.jpg" />
    </div>

    <div class="col-md-3">
        <img src="~/Img/Konferens.jpg" />
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <img src="~/Img/Konferens.jpg" />
    </div>

    <div class="col-md-3">
        <img src="~/Img/Konferens.jpg" />
    </div>

    <div class="col-md-3">
        <img src="~/Img/Konferens.jpg" />
    </div>
</div>