@{
    ViewBag.Title = "Home Page";
}

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
<<<<<<< HEAD

            <img src="~/Img/test_logo.png" />
=======
            <img src="~/Img/test_logo_whitetxt.png" />
>>>>>>> a019e8bac67e2ca62c2158c1d1e378ac783c6ea0
        </div>
       
             
        <div id="TimeReal">
            <ul>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>
</nav>
<<<<<<< HEAD


        <div class="col-md-3 mb-30 mt-60" id="left">
            <img src="~/Img/Konferens.jpg" />
        </div>

        <div class="col-md-3 mb-30 mt-60" id="center">
            <img src="~/Img/Konferens.jpg" />
        </div>

        <div class="col-md-3 mb-30 mt-60" id="center">
            <img src="~/Img/Konferens.jpg" />
        </div>

        <div class="col-md-3 mb-30 mt-60" id="right">
            <img src="~/Img/Konferens.jpg" />
        </div>

<div class="row">

    <div class="col-md-3" id="left">
=======
<div>
    <div class="col-md-3 mb-30 mt-60" id="left">
>>>>>>> a019e8bac67e2ca62c2158c1d1e378ac783c6ea0
        <img src="~/Img/Konferens.jpg" />
    </div>

    <div class="col-md-3 mb-30 mt-60" id="center">
        <img src="~/Img/Konferens.jpg" />
    </div>

    <div class="col-md-3 mb-30 mt-60" id="center">
        <img src="~/Img/Konferens.jpg" />
    </div>

    <div class="col-md-3 mb-30 mt-60" id="right">
        <img src="~/Img/Konferens.jpg" />
<<<<<<< HEAD


=======
    </div>
</div>

<div class="row">
    <div class="col-md-3" id="left">
        <img src="~/Img/Konferens.jpg" />
    </div>

    <div class="col-md-3" id="center">
        <img src="~/Img/Konferens.jpg" />
    </div>

    <div class="col-md-3" id="center">
        <img src="~/Img/Konferens.jpg" />
    </div>
>>>>>>> a019e8bac67e2ca62c2158c1d1e378ac783c6ea0

    </div>
</div>
