@{
    ViewBag.Title = "Home Page";
}

<nav class="navbar navbar-primary">
    <div class="container-fluid">
        <div class="navbar-header">
            <img src="~/Img/test_logo.png" />
        </div>
    </div>
</nav>

<div class="row">
    <div class="col-md-3 pull-left">
        <img src="~/Img/Konferens.jpg" />
    </div>

    <div class="col-md-3 text-center">
        <img src="~/Img/Konferens.jpg" />
    </div>

    <div class="col-md-3 pull-right">
        <img src="~/Img/Konferens.jpg" />
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <img src="~/Img/Konferens.jpg" />
    </div>

    <div class="col-md-3">
        <img src="~/Img/Konferens.jpg" />
    </div>

    <div class="col-md-3">
        <img src="~/Img/Konferens.jpg" />
    </div>
</div>